body {
    background: rgb(58, 58, 58);
    color: white;
}

ul {
    list-style: none;
}

ul li {
    font-size: 1.5em;   
}

h2 {
    margin-left: 1em;
}

h3 {
    font-size: 1.5em;
    margin-left: 3em;
}

input[type="checkbox"] {
    -webkit-appearance:none;
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}

input[type='checkbox']:checked {
    background: rgb(0, 255, 21);
}